.header {
  display: flex;
  align-items: center;
  background-color: #137084;
  color: #fff;
  text-align: center;
  background-position: 10px;
}

.title {
  background-repeat: no-repeat;
  background-size: 26px 26px;
  background-position: 15px 50%;
  width: 100%;
  font-weight: 300;
}